*,
html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.text-blue {
	color: blue;
}

.text-green {
	color: green;
}

.text-sm {
	font-size: 12px;
}

h1 {
	color: red;
}

.button {
	color: white;
	background-color: black;
	padding: 10px 20px;
	border-radius: 10px;
	cursor: pointer;
	width: fit-content;
	border: none;
	transition: background-color 0.3s, color 0.3s;
}

.button:hover {
	color: black;
	background-color: gray;
}

.button:active {
	color: red;
	background-color: green;
}

.button-disable:hover {
	color: black;
	background-color: gray;
}

.button-disable:active {
	color: black;
	background-color: gray;
}

.button:disabled {
	opacity: 0.5;
}

.navbar {
	color: red;
	background: #000;
	padding: 20px;
}

.content {
	padding: 20px;
	flex-grow: 1;
}

.footer {
	padding: 20px;
	background: green;
}

.container {
	height: 100vh;
	display: flex;
	flex-direction: column;
}
